.login-container{
   display: flex;
   flex-direction: column;
   justify-content:space-between;
   align-items: center;
   max-width: 600px;
   width: 100%;
   padding: 10px;
   border-radius: 10px;
   background-color: lightblue;

    input{
      margin: 10px 0px 10px 0px;
    }

    div{
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
}
