<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-2">
              <h3>Welcome. Register to get started</h3>
              <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" [mustMatch]="['password', 'confirmPassword']" novalidate>
                  <div class="form-group">
                      <label for="firstName">First Name</label>
                      <input type="text" class="form-control" name="firstName" [(ngModel)]="user.Name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                      <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                          <div *ngIf="name.errors.required">First Name is required</div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" class="form-control" name="email" [(ngModel)]="user.Email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                          <div *ngIf="email.errors.required">Email is required</div>
                          <div *ngIf="email.errors.email">Email must be a valid email address</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" name="password" [(ngModel)]="user.Password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
                      <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                          <div *ngIf="password.errors.required">Password is required</div>
                          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="confirmPassword">Confirm Password</label>
                      <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required />
                      <div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-feedback">
                          <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
                          <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control"  [pattern]="mobNumberPattern" name="phone" [(ngModel)]="user.Phone" #phone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required />
                    <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                        <div *ngIf="phone.errors.required">Phone  is required</div>
                        <div *ngIf="phone.errors.pattern">
                          Mobile number not valid.
                        </div>
                    </div>
                </div>
                  <div class="form-group auth-div">
                      <button class="btn btn-primary">Registration</button>
                      <button class="btn btn-primary" (click)=" Login($event)">Login</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
